! The sweet spot for i3 on desktop and 14-inch laptop (approximately 1.25x
! 1920 by 1080)
Xft.dpi: 120

! These might also be useful depending on your monitor and personal preference:
! https://wiki.archlinux.org/title/HiDPI#X_Resources -> https://wiki.archlinux.org/title/HiDPI#X_Resources
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
